/* Custom Properties */
:root {
  --first-color: #d5294d;
  --text-first-color: rgb(255, 255, 255);
  --second-color: rgb(156, 149, 149);
  --text-second-color: #f27a8a;
  --black-alpha-color: #00000017;
  --black-opacity-color: #6b696936;

  --font: "Instrument Serif", serif, "Montserrat Alternates",
    sans-serif. "Vollkorn", serif;
  --max-width: 1250px;
  --header-height: 4.8rem;
}

/* Reset */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 18px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-first-color);
  font-family: var(--font);
  min-height: 100vh;
  background-color: #0e141b;
  background: url("assets/fondo.png") no-repeat center fixed;
  background-size: cover;
}
/* Modificaciones en barra lateral */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #b5b3b9;
}

body::-webkit-scrollbar-track {
  background-color: #0e141b;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.hero-image-content {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-subtitle {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #dbd6d7;
  font-weight: 600;
  margin: 0;
  padding: 0.75rem;
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-image-title {
  position: relative;
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 2.6rem;
  margin: 0;
  background-image: radial-gradient(
    circle at 50% 17.44%,
    #ff9243 20%,
    #ff7e4b 30%,
    #ff6951 40%,
    #f25353 50%,
    #d93f53 60%,
    #c22f54 70%,
    #ad2355 80%,
    #9b1b56 90%,
    #8c1859 100%
  );
  background-size: 250%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* Iconos principal hero*/
.hero-icons-social {
  position: absolute;
  gap: 1rem;
  display: flex;
  bottom: 1rem;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0.5rem;
  background-color: #0e141b;
}
.hero-icons-social > li {
  list-style: none;
}
.hero-icons-social svg {
  fill: var(--text-first-color);
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.3s ease-in-out;
}
.hero-icons-social svg:hover {
  transform: scale(1.17);
  fill: var(--text-second-color);
}

/* Menu */
.header {
  position: sticky;
  top: 0;
  background: #0e141b;
}

/* menu headers */
.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--first-color);
  border-radius: 0.15rem;
}
.menu {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 100%;
  width: 100%;
  left: 2.2rem;
  margin-left: -2.25rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  background-color: #0e141b;
}
.menu li {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  list-style: none;
  border-top: 1px solid #eee;
  text-align: right;
  padding: 1.5rem 2.5rem;
  padding-right: 0.5rem;
}
.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu a {
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--text-first-color);
}

.menu a:hover {
  background-color: transparent;
}
/* btn */

.btn {
  width: 11rem;
  height: 3.5rem;
  margin: 8px;
  gap: 0.5rem;
  border-radius: 0.15rem;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  color: #f8faff;
  background-color: var(--text-second-color);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: var(--text-second-color);

  opacity: 0.75;
  transform: scale(1.04);
}
.btn svg {
  filter: rgb(0, 0, 0);
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 0.16rem;
}
/* Skills */
.skills {
  padding: 0 0.8rem 0.8rem;
  display: flex;
  flex-wrap: wrap;
}
.section-skills {
  padding: 1rem 0.8rem;
  margin-bottom: 0.4rem;
  margin-right: 0.35rem;
  font-size: 1.05rem;
  max-width: 500px;
  background: #d5d3db;
  font-weight: 600;
  color: black;
  border-left: 7px solid var(--text-second-color);
  transition: transform 0.3s ease-in-out;
}
.section-skills:hover {
  transform: scale(1.12);
  box-shadow: 0 2px 4px 0 #f27a8aab;
}

/* Utilities */
.section-subtitle {
  padding: 1rem;
  font-size: 1.3rem;
}
.btn-descarga-cv {
  padding: 0 1rem 1rem;
}

.container {
  margin-left: 1%;
  margin-right: 1%;
  max-width: var(--max-width);
}

.section {
  padding: 1rem 1rem;
}
.section > article {
  background-color: var(--black-opacity-color);
  border-radius: 1rem;
  margin-top: 1rem;
}

.none {
  display: none;
}

/* Site Styles */
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1.3rem;
  width: 100%;
  height: var(--header-height);
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}

.logo a,
.header-logo {
  color: var(--text-first-color);
  font-weight: 650;
  font-size: 1.2rem;
  text-decoration: none;
  transition: transform 0.5s linear;
}
.logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: 0.17rem solid rgba(255, 255, 255, 0.877);
}
.logo:hover {
  transform: scale(1.1);
}
.logo svg {
  fill: var(--text-first-color);
  margin-left: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
}
.about > article,
.portfolio,
.contact {
  padding-top: 3.2rem;
}
.section {
  border-top: 2.5px solid #d5d3dba1;
}

.titulares {
  padding-left: 1rem;
  font-size: 5vh;
}
.footer {
  text-align: center;
}
.footer-p {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
.text-footer-p {
  margin: 0.25rem;
  font-size: 1.2rem;
}
.text-footer {
  font-size: 0.9rem;
  text-align: center;
  margin: 0.25rem;
}
.footer-icons-social svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #b5b3b9;
  margin: 0.5rem;
}
.footer-icons-social svg:hover {
  fill: var(--text-second-color);
}
.footer-icons-social li {
  list-style: none;
}
/* contacto */
.contact-card svg {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.25rem;
  fill: var(--text-second-color);
  margin-right: 0.5rem;
  margin-bottom: 0rem;
  background-color: #f2f2f40e;
  border-radius: 0.5rem;
}
.contact-card a {
  text-decoration: none;
  color: var(--text-first-color);
  padding-right: 0;
}
.contact-card {
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
}
.contact-cards {
  background-color: var(--black-opacity-color);
  border-radius: 1rem;
  margin-top: 3.5rem;
}
.contact-small {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.5rem;
}
.contact-p {
  font-size: 1.1rem;
  padding: 0.5rem;
  margin: 0;
}

.contact-title {
  font-size: 2.2rem;
  padding: 1rem;
  background: -webkit-linear-gradient(
    -45deg,
    var(--text-second-color),
    #ffffff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Contact */
.contact-form input,
.contact-form textarea {
  background-color: transparent;
  padding: 1.25rem;
  margin: 0.35rem;
  border: 0;
  border-bottom: 1px solid #b1afaf;
  color: white;
  background-color: #6b696946;
  border-radius: 0.25rem;
}
.contact-form input {
  width: 45%;
}
.contact-form textarea {
  resize: none;
  width: 95%;
}
.contact-form input[type="submit"] {
  margin-top: 0.5rem;
  margin-left: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
  width: 100%;
  background-color: var(--text-second-color);
  font-size: 1.5rem;
}
.contact-form input[type="submit"]:hover {
  opacity: 0.75;
  transform: scale(1.04);
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  border: 2px solid #c4c2c2;
  border-bottom: 0;
}
.project-section {
  margin: 1rem;
  display: grid;
  justify-items: center;
}
.project-p-exter {
  position: relative;
  background-color: #0e141bf8;
  border-radius: 0.25rem;
  width: 100%;
  height: 8rem;
  font-size: 1.02rem;
  box-shadow: 0 4px 4px 0 #83838396;
  border: 2px solid #c4c2c2;
  border-top: 0;
  padding: 0.7rem;
  margin-bottom: 3rem;
  display: grid;
  justify-self: left;
  top: -0.5rem;
  left: 0;
}
.project-p-inter {
  position: relative;
  display: flex;
  font-size: 1.15rem;
  list-style: none;
  bottom: 100%;
  justify-self: baseline;
  margin: 0;
  padding: 0;
}
.project-p-inter li {
  background-color: #3d3c3cd5;
  padding: 0.4rem;
  margin-right: 0.5rem;
  border-radius: 0.35rem;
  height: 2.5rem;
}
.project-section svg {
  display: flex;
  position: relative;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--text-second-color);
}
.project-section svg:hover {
  fill: var(--first-color);
}
.proyect-h1 {
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 5.5rem;
  border-bottom: 1px solid var(--text-second-color);
  width: 65%;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 2rem 2.3rem;
  }

  .btn {
    height: 3.65rem;
    width: 13.8rem;
    font-size: 1.45rem;
  }
  .hero-image-title {
    line-height: 4.7rem;
    font-size: 5rem;
  }
  .hero-subtitle {
    font-size: 1.2rem;
  }
  .hero-icons-social {
    bottom: auto;
    flex-direction: column;
    left: 0.2rem;
  }
  .menu {
    box-shadow: none;
  }
  .menu a {
    color: var(--text-first-color);
  }
  .menu li {
    padding: 1.25rem 2.8rem;
    border: 0;
    border-top: 0.4px solid #969191;
  }
  .about > article,
  .portfolio,
  .contact {
    padding: 1.8rem;
  }
  .section,
  .hero-image-opacity {
    padding: 1rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
  }
  .section-skills {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
    margin-right: 0.8rem;
    padding: 1rem 1.5rem;
  }
  .contact-form input,
  .contact-form textarea {
    width: 97%;
  }
  .projects-gen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0.5rem 0rem;
  }
  .project-p-exter {
    font-size: 1rem;
    padding: 0.5rem;
    top: -1.5rem;
    margin-bottom: 1.5rem;
  }
  .proyect-h1 {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    height: 100vh;
  }

  .menu-btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    opacity: 1;
    background-color: transparent;

    flex-direction: row;
    pointer-events: auto;
  }
  .menu li {
    padding: 0.25rem;
    border: 0;
  }
  .menu a {
    padding: 0 0.7rem;
  }
  .menu a:last-child {
    padding-right: 0;
  }
  .menu a:hover {
    border-bottom: 1px solid var(--text-second-color);
  }
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    justify-content: space-between;
    align-content: center;
  }

  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 44%);
    justify-content: space-around;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }
  .contact-form textarea {
    width: 98.5%;
  }
  .contact-form textarea,
  .form-btn,
  .contact-form-loader {
    grid-column: span 2;
  }
  .hero-image-title {
    font-size: 6rem;
  }
  .hero-icons-social {
    bottom: auto;
  }
  .section-skills {
    font-size: 1.05rem;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
  }
  .contact {
    display: grid;
    align-content: center;
  }
  /* proyectos */
  .project-p-exter {
    font-size: 1.3rem;
  }
  .proyect-h1 {
    width: 20%;
  }
}
